<footer class="footer mt-auto py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="mb-2">
        <i class="bi bi-controller fs-4 text-primary"></i>
      </div>
      <p class="mb-0">&copy; 2026 MyGameCollector - Tu Colección Personal</p>
      <small>- Antonio Cordero Molina - 2DAW - 2026 -</small>
    </div>
  </footer>